* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: Roboto;
  text-decoration: none;
}
body {
  background-color: #eee;
}

header,
main,
footer {
  background: lightblue;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
}
header {
  min-height: 150px;
}
main {
  min-height: 400px;
}
footer {
  min-height: 200px;
}
.nav-bar {
  background: #ccc;
  padding: 10px;
  display: flex;
}
.nav-bar span {
  width: 20%;
}
.main-nav {
  display: flex;
  width: 80%;
}
.main-nav ul {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}